
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #1B2024;
	font-family: 'Abel', sans-serif;
	font-size: 15px;
	color: #8F8F8F;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-family: 'Abel', sans-serif;
	font-weight: 200;
	color: #222222;
}
p, ol, ul {
	margin: 0px;
	padding: 0px;
}

p, ol {
	line-height: 180%;
}

strong {
background-color: lavenderblush;
}

a {
	color: #5C5539;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.border {
}

img.alignleft {
	float: left;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

hr {
	display: none;
}

/** WRAPPER */

#wrapper {
}

.container {
	width: 1000px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}

/* Header */

#header-wrapper {
	overflow: hidden;
	height: 120px;
	background: #DEE3E5;
}

#header {
	width: 1000px;
	height: 140px;
	margin: 0 auto;
	padding: 0px 0px;
}

/* Logo */

#logo {
	float: left;
	width: 300px;
	height: 80px;
	margin: 0px;
	padding: 0px;
}

#logo h1 {
	padding: 30px 0px 0px 0px;
	/*background: url(images/img02.png) no-repeat left 50%;*/
	/*text-transform: lowercase;*/
	letter-spacing: -2px;
	font-size: 3.6em;
}

#logo h1 a {
	text-decoration: none;
	color: #1B2024;
}

/* Menu */

#menu {
	float: right;
	width: 650px;
	height: 80px;
}

#menu ul {
	float: right;
	margin: 0;
	padding: 40px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}


#menu a {
	display: block;
	margin-left: 1px;
	padding: 5px 20px 5px 20px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #10202F;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
	background: #1B2024;
	border-radius: 5px;
	color: #FFFFFF;
}

/* Page */

#page-wrapper {
	overflow: hidden;
	background: #F1F2E9;
}

#page {
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
	padding: 50px 0px;
	color: #8F8F8F;
}

/** CONTENT */

#content {
	float: right;
	width: 660px;
	padding: 0px 0px 0px 0px;
}

#content h2 {
	padding: 0px 0px 30px 0px;
	letter-spacing: -1px;
	font-size: 36px;
	color: #222222;
}

#content .subtitle {
	padding: 0px 0px 30px 0px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	color: #81AFC5;
}


/** SIDEBAR */

#sidebar {
	float: left;
	width: 290px;
	padding: 0px 0px 20px 0px;
}

#sidebar h2 {
	padding: 0px 0px 30px 0px;
	letter-spacing: -1px;
	font-size: 2em;
}

/* Footer */

#footer {
	height: 100px;
	margin: 0 auto;
	padding: 50px 0px 15px 0px;
	font-family: 'Abel', sans-serif;
}

#footer p {
	margin: 0;
	letter-spacing: 1px;
	line-height: normal;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	color: #4D565E;
}

#footer a {
	color: #4D565E;
}

/* Three Column Footer Content */

#footer-wrapper {
	background: #FFFFFF;
}

#footer-content {
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
	padding: 20px 0px 50px 0px;
	color: #717171;
    min-height: 500px;
}

#footer-content a {
}

#footer-content h2 {
	margin: 0px;
	padding: 0px 0px 30px 0px;
	letter-spacing: -1px;
	font-size: 30px;
	color: #B5A871;
}

#footer-content h2 span {
	color: #5C5539;
}


#footer-content #fbox1 {
	float: left;
	width: 180px;
	margin-right: 20px;
}

#footer-content #fbox2 {
	float: right;
	width: 780px;
}

/* Banner Style */

#banner-wrapper {
	overflow: hidden;
	height: 345px;
	padding: 40px 0px;
	background: url(images/img03.png) repeat;
}

#banner {
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
}

/* Button Style */

.button-style {
	display: inline-block;
	margin-top: 30px;
	padding: 7px 30px;
	background: #1B2024;
	border-radius: 5px;
}

.button-style a {
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #FFFFFF;
}

/* List Style 1 */

ul.style1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style1 li {
	padding: 20px 0px 20px 0px;
	border-top: 1px dashed #E6E7DC;
}

ul.style1 a {
	text-decoration: none;
	color: #6B6B6B;
}

ul.style1 a:hover {
	text-decoration: underline;
	color: #6B6B6B;
}

ul.style1 .first {
	padding-top: 0px;
	border-top: none;
}

/* List Style 2 */

ul.style2 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style2 li {
	padding: 9px 0px 9px 0px;
	border-top: 1px dashed #E6E7DC;
}

ul.style2 .first {
	padding-top: 0px;
	border-top: none;
}

/* List style 3 */

ul.style3 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style3 li {
	padding: 20px 0px 20px 0px;
	background: url(images/link-style1-divider.png) repeat-x left top;
}

ul.style3 p {
	margin: 0px;
	padding: 0px;
}

ul.style3 img {
	float: left;
	margin-top: 3px;
	margin-right: 20px;
}

ul.style3 .posted {
	padding: 10px 0px 0px 0px;
	font-size: 8pt;
	color: #A2A2A2;
}

ul.style3 .first {
	padding-top: 0px;
	background: none;
}