
.form span {
    display: block;
}
.form span {
    display: block;
}

#flashmessenger {
    background: none repeat scroll 0 0 #E4E1CE;
    color: #c97a13;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}
#flashmessenger p {
    padding: 6px;

}
hr{
    border-top-color: black;
}
.submit{
    display: block;
}

/*usato nelle label delle select e dei radio*/
legend {
    font-size: 14px;
    line-height: 50px;
    margin-bottom: 0px;
    font-weight: bold;
}
span {
    margin-top: 10px;
}
/*necessario per i campi di input readonly (bootstrap ci mette un cursore "divieto" */
input.hasDatepicker {
    cursor: auto;
}
div#structured_fieldset {
   /*  border: black 1px solid;*/
}
img.ajax-status {
    /*position:relative;*/
    /*/float:center;*/
    /*float:right;*/

    width: 30px;
    height:30px;
    margin-left: 20px;
    margin-top: -3px;

    /*top: 50%;*/
    /*left: 200px;*/

    /*background-size: 30px 30px;
    background-position: 5px 5px;
    background-repeat: no-repeat;
    background-color: white;*/

    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
}

.dropdown-submenu > .dropdown-menu
{
    left: -95%;
    border-radius: 6px 0px 6px 6px;
}