<?php
include('common_header.phtml');
?>
<div id="footer-wrapper">
    <div id="footer-content">
        <div id="fbox1" style="width: 0px; display: none;">
        </div>
        <div id="fbox2" style="width: 100%">

            <?php echo $this->content; ?>
        </div>
    </div>
</div>
<?php
$date=new DateTime();
echo "Datetime corrente: ".$date->format('Y-m-d H:i:s');
?>
<?php echo $this->inlineScript() ?>

</body>
</html>
