<?php echo $this->doctype(); ?>

<html lang="it">
<head>
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Abel|Satisfy' rel='stylesheet' type='text/css'/>
    <?php
    echo $this->headTitle('D Moda Mobile Control Panel');

    //l'ordine di caricamento è dal basso verso l'alto
    echo $this->headLink(array('rel' => 'shortcut icon', 'href' => '/img/favicon.ico'))
        ->prependStylesheet($this->basePath() . '/css/bootstrap-responsive.min.css')
        ->prependStylesheet($this->basePath() . '/css/default.css')
        ->prependStylesheet($this->basePath() . '/css/style.css')
        ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css')
        ->prependStylesheet($this->basePath() . '/css/flick/jquery-ui-1.10.1.custom.css');
    //l'ordine di caricamento è dal basso verso l'alto
    echo $this->headScript()
        ->prependFile($this->basePath() . '/js/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',))
        ->prependFile($this->basePath() . '/js/bootstrap.min.js')
        ->prependFile($this->basePath() . '/js/custom_functions.js')
        ->prependFile($this->basePath() . '/js/jquery.ui.datepicker-it.js')
        ->prependFile($this->basePath() . '/js/jquery-ui-1.10.1.custom.js')
        ->prependFile($this->basePath() . '/js/jquery.min.js');?>


</head>
<body>
<noscript>
    This page needs JavaScript activated to work.
    <style>div {
            display: none;
        }</style>
</noscript>
<div id="header-wrapper">
    <div id="header">
        <div id="logo">
            <h1><a href="/"><img src="<?php echo $this->basePath() . '/img/header-appname.png' ?>" style="height: 80px"></a></h1>
        </div>
    </div>
</div>
<div id="footer-wrapper">
    <div id="footer-content">
        <div id="fbox1" style="width: 0px; display: none;">
        </div>
        <div id="fbox2" style="width: 100%">

            <?php echo $this->content; ?>
        </div>
    </div>
</div>
<?php echo $this->inlineScript() ?>

</body>
</html>
