<?php
include('common_header.phtml');
?>
<div id="footer-wrapper">
    <div id="footer-content">
        <div id="fbox1">
            <?php
            if ($this->role==='regular') {
                include('menu_regular.phtml');
            }
            else {
                include('menu_super.phtml');
            }
            ?>
        </div>
        <div id="fbox2">

            <?php echo $this->content; ?>
        </div>
      <!--  <footer>
            <p>&copy; 2013 by Adriano Ferracuti. <?php echo $this->translate('All rights reserved.') ?></p>
        </footer>-->
    </div>
</div>
<?php
$date=new DateTime();
echo "Datetime corrente: ".$date->format('Y-m-d H:i:s');
?>
<?php echo $this->inlineScript() ?>

</body>
</html>

