<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display: block; position: static;">
    <li><b>Eventi</b></li>
    <li><a href="<?php echo $this->url('events', array('action' => 'event-class-list')); ?>">Elenco Classi</a></li>
    <li><a href="<?php echo $this->url('events', array('action' => 'event-class-add')); ?>">Creazione Classe</a></li>
    <li><a tabindex="-1"
           href="<?php echo $this->url('events', array('action' => 'event-archive-list')); ?>">Storico generati</a></li>

    <li class="divider"></li>

    <li><b>Utenti</b></li>
    <li><a href="<?php echo $this->url('users', array('action' => 'user-list')); ?>">Elenco</a></li>
    <li><a href="<?php echo $this->url('users', array('action' => 'user-add')); ?>">Creazione</a></li>

    <li class="divider"></li>

    <li><b>Messaggi di sistema</b></li>
    <li><a href="<?php echo $this->url('messages', array('action' => 'system-message-spool-list')); ?>">Spool di
            invio</a></li>
    <li><a href="<?php echo $this->url('messages', array('action' => 'system-message-archive-list')); ?>">Consegnati</a>
    </li>

    <li class="divider"></li>

    <li><b>Account Personale</b></li>
    <li><a href="<?php echo $this->url('events', array('action' => 'event-class-list')); ?>">Gestione sottoscrizioni</a></li>
    <li><a href="<?php echo $this->url('messages', array('action' => 'message-archive-list')); ?>">Messaggi ricevuti</a></li>
    <li><a href="<?php echo $this->url('users/wildcard',array('action'=>'user-edit-super','user_id'=>$this->userId)); ?>">Modifica profilo</a></li>

    <li class="divider"></li>

    <li><a href="<?php echo $this->url('users', array('action' => 'log-out')); ?>">Log-out</a></li>


</ul>
