<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display: block; position: static;">
    <li><b>Account Personale</b></li>
    <li><a href="<?php echo $this->url('events', array('action' => 'event-class-list')); ?>">Gestione sottoscrizioni</a></li>
    <li><a href="<?php echo $this->url('messages', array('action' => 'message-archive-list')); ?>">Messaggi ricevuti</a></li>
    <li><a href="<?php echo $this->url('users',array('action'=>'user-edit-regular')); ?>">Modifica profilo</a></li>

    <li class="divider"></li>

    <li><a href="<?php echo $this->url('users', array('action' => 'log-out')); ?>">Log-out</a></li>


</ul>
