<div class="row">
    <div class="span9">
        <div class="page-header">
        <h1>Aggiungi evento</h1>
</div>
        <div class=form>

            <?php
            $form->prepare();
            $form->setAttribute('action', $this->url('events', array('action' => 'event-class-add')));
            echo $this->form()->openTag($form);
            $commonFieldset = $form->get('common');
            echo "<div id=common_fieldset>";
            echo $this->formRow($commonFieldset->get('event_class_id'));
            echo $this->formRow($commonFieldset->get('event_class_active'));
            echo $this->formRow($commonFieldset->get('event_class_name'));
            echo $this->formRow($commonFieldset->get('event_class_description'));
            echo $this->formRow($commonFieldset->get('event_class_check_interval'));
            echo $this->formRow($commonFieldset->get('event_class_period_type'));
            //echo $this->formCollection($form->get('common'));
            echo "<div id=period_days>";
            echo $this->formRow($commonFieldset->get('event_class_period_days'));
            echo "</div>";
            echo "<div id=period_dates>";
            echo "<div id=testo_errore></div>";
            echo $this->formRow($commonFieldset->get('event_class_period_date_start'));
            echo $this->formRow($commonFieldset->get('event_class_period_date_end'));
            echo "</div>";
            echo $this->formRow($commonFieldset->get('event_class_type'));
            echo "</div>";

            echo '<hr id=field_set_separator>';

            echo "<div id=structured_fieldset>";
            echo "<h3>Evento strutturato</h3>";
            echo $this->formCollection($form->get('structured'));
            echo '</div>';

            if ($this->getRole()==='developer') {
                echo "<div id=compared_query_fieldset>";
                echo "<h3>Evento a query comparata</h3>";
                $comparedQueryFieldset = $form->get('compared_query');
                echo $this->formRow($comparedQueryFieldset->get('event_class_query'));
                echo $this->formRow($comparedQueryFieldset->get('event_class_compared_query_comparision_type'));

                echo "<div id=compared_query_string_reference_value>";
                echo $this->formRow($comparedQueryFieldset->get('event_class_compared_query_string_reference_value'));
                echo "</div>";
                echo '<div id=int_reference_value>';
                echo $this->formRow($comparedQueryFieldset->get('event_class_int_reference_value'));
                echo '</div>';


                echo '</div>';

                echo "<div id=raw_query_fieldset>";
                echo "<h3>Evento a query grezza</h3>";
                echo $this->formCollection($form->get('raw_query'));
                echo '</div>';
            }

            echo $this->formRow($form->get('submit'));
            echo $this->form()->closeTag($form);
            ?>
        </div>
    </div>
</div>

<script type="text/javascript">
    //nasconde gli eventClasseTypeFieldset
    $('#structured_fieldset,#compared_query_fieldset,#raw_query_fieldset,#field_set_separator').hide();

    //in case that's not developer i already selected structured in the controller
    if ($('[name*=event_class_type]:checked').val()==='structured') {
        $('[name*=event_class_type]').not(':checked').attr('disabled',true);
        //$('[name*=event_class_type]').attr('readonly',true);
        $('#field_set_separator').show(500);

    }
    //mette le date in sola lettura e aggiunge placeholder
    $('[name*=event_class_period_date_start]').attr('readonly', true).attr('placeholder', 'Data di inizio').datepicker({
                onSelect:function (datetext) {
                    verificaValori();
                }
            }
    );
    $('[name*=event_class_period_date_end]').attr('readonly', true).attr('placeholder', 'Data di fine').datepicker({
        onSelect:function (datetext) {
            verificaValori();
        }
    });
    $('div#compared_query_string_reference_value').hide();
    $('#period_days,#period_dates').hide();



    var effects_duration = 500;

    $('[name*=event_class_type]').change(function () {
        $('#field_set_separator').show(500);
        event_class_type = $('[name*=event_class_type]:checked').val();
        eventClassTypeFieldsetSwitch(event_class_type);
    });
    function eventClassTypeFieldsetSwitch (event_class_type) {
        switch (event_class_type) {
            case 'structured':
                $('#compared_query_fieldset').hide(effects_duration);
                $('#raw_query_fieldset').hide(effects_duration);
                $('#structured_fieldset').show(effects_duration);
                break;
            case 'compared_query':
                $('#structured_fieldset').hide(effects_duration);
                $('#raw_query_fieldset').hide(effects_duration);
                $('#compared_query_fieldset').show(effects_duration);

                break;
            case 'raw_query':
                $('#structured_fieldset').hide(effects_duration);
                $('#compared_query_fieldset').hide(effects_duration);
                $('#raw_query_fieldset').show(effects_duration);
                break;
        }
    }
    function eventClassPeriodTypeSwitch (event_class_period_type) {
        switch (event_class_period_type) {
            case 'days':
                $('#period_dates').hide(effects_duration);
                $('#period_days').show(effects_duration);

                break;
            case 'dates':
                $('#period_days').hide(effects_duration);
                $('#period_dates').show(effects_duration);
                break;
        }
    }

    function eventClassComparedQueryComparisionTypeSwitch (event_class_compared_query_comparision_type){
        if (event_class_compared_query_comparision_type === 'string_contained') {
            $('div#int_reference_value').hide(effects_duration);
            $('div#compared_query_string_reference_value').show(effects_duration);
        }
        else {
            $('div#compared_query_string_reference_value').hide(effects_duration);
            $('div#int_reference_value').show(effects_duration);
        }
    }
    $('[name*=event_class_period_type]').change(function () {
        event_class_period_type = $(this).val();
        eventClassPeriodTypeSwitch(event_class_period_type);
    });
    $('[name*=event_class_compared_query_comparision_type]').change(function () {
        event_class_compared_query_comparision_type = $(this).val();
        eventClassComparedQueryComparisionTypeSwitch(event_class_compared_query_comparision_type);
    });
    $('[name*=event_class_structured_all_stores]:checkbox').change(function () {
        if (($(this).attr('checked')) !== undefined) {
            $('[name*=legacy_db_store_id]').attr('checked', true);
            $('[name*=legacy_db_store_id]').attr('disabled', true);
        }
        else {
            $('[name*=legacy_db_store_id]').attr('checked', false);
            $('[name*=legacy_db_store_id]').attr('disabled', false);


        }
    });

    //verifica che la data di fine non sia antecedente la data di inizio
    function verificaValori() {
        var data_inizio = $('[name*=event_class_period_date_start]').val();
        //new Date (anno,mese-1,giorno)
        if (data_inizio != '') data_inizio = new Date(data_inizio.slice(6, 10), data_inizio.slice(3, 5) - 1, data_inizio.slice(0, 2));
        var data_fine = $('[name*=event_class_period_date_end]').val();
        if (data_fine != '') {
            data_fine = new Date(data_fine.slice(6, 10), data_fine.slice(3, 5) - 1, data_fine.slice(0, 2));
        }
        if ((data_inizio == '') || (data_fine == '')) {
            $('#testo_errore').text(' ');
        }
        else if (data_inizio >= data_fine) {
            $('#testo_errore').html('<h5 style="color:#ff0000">La data di inizio non pu&ograve; essere successiva o uguale alla data di fine</h3>');
        }
        else {
            $('#testo_errore').text(' ');
        }
    }

            event_class_type = $('[name*=event_class_type]:checked').val();
            eventClassTypeFieldsetSwitch(event_class_type);
            event_class_period_type=$('[name*=event_class_period_type]:checked').val();
            eventClassPeriodTypeSwitch(event_class_period_type);
            event_class_compared_query_comparision_type=$('[name*=event_class_compared_query_comparision_type]').val();
            eventClassComparedQueryComparisionTypeSwitch(event_class_compared_query_comparision_type);
    //$('#structured_fieldset').hide();
</script>
