<?php
$eventClassTypeEnum=array(
    'structured'=> 'Strutturato',
    'compared_query'=>'Query comparata',
    'raw_query'=>'Query grezza'
);
$booleanEnum=array(
    true=>'Si',
    false=>'No'
);

?>
<div class="row-fluid">
    <div class="span12">
        <div class="page-header">
            <h1>Archivio Eventi Verificati</h1>
        </div>

        <?php
        if (count($eventArchiveList)==0){
            echo "<p>Nessun evento presente</p>";
        }
        else {
            echo "<table class=\"table table-striped\"><tr><th>Id</th><th>Nome</th><th>Descrizione</th><th>Tipologia</th><th>Data e ora</th><th></th></tr>";

                foreach ($eventArchiveList as $eventArchiveListElement){
                    echo "<tr>";
                    echo '<td>'.$eventArchiveListElement['event_class_id'].'</td>';
                    echo '<td>'.$eventArchiveListElement['event_class_name'].'</td>';
                    echo '<td>'.(isset($eventArchiveListElement['event_class_description'])?$eventArchiveListElement['event_class_description']:'').'</td>';
                    echo "<td>".$eventClassTypeEnum[$eventArchiveListElement['event_class_type']]."</td>";
                    echo '<td>'.$this->formatDateTime($eventArchiveListElement['event_archive_datetime'],'datetime').'</td>';
                    echo "<td><a href=\"".$this->url('events/wildcard',array('action'=>'event-class-detail','event_class_id'=>$eventArchiveListElement['event_class_id']))."\" target=\"_blank\"><button class=\"btn btn-small\" type=\"button\">Dettaglio evento</button></a>";
                    //echo "<td><a href=\"".$this['url('events',array('action'=>'event-edit','event_class_id'=>$eventArchiveListElement['event_class_id']))."\">Modifica</a></td>";
    
                    echo "</tr>";
            }
            echo "</table>";

        }
        ?>
    </div>
</div>
