<?php
$eventClassTypeEnum = array(
    'structured' => 'Strutturato',
    'compared_query' => 'Query comparata',
    'raw_query' => 'Query grezza'
);
$eventClassComparisionTypeEnum = array(
    'min_reached' => 'Minimo raggiunto',
    'min_not_reached' => 'Minimo non raggiunto',
    'delta' => 'A delta',
    'string_contained'=>'Stringa trovata',
    null=>''
);
$eventClassValueTypeEnum = array(
    'money'=>'Incasso (in €)',
    'product_quantity'=>'Prodotti venduti (es. 50 paia)',
    'transaction_quantity'=>'Transazioni effettuate (es. 50 scontrini battuti)',
    null=>''
);
$booleanEnum = array(
    true => 'Si',
    false => 'No'
);

?>
<div class="row">
    <div class="span8">
        <div class="page-header">
            <h1>Dettaglio Evento</h1>
        </div>

        <?php
        echo "<table class=\"table\" style=\"width:600px;\">";
        echo '<tr><td style="width: 200px"><b>Id</b></td><td>' . $eventClassDetail->event_class_id . '</td></tr>';
        echo '<tr><td><b>Nome</b></td><td>' . $eventClassDetail->event_class_name . '</td></tr>';
        echo '<tr><td><b>Descrizione</b></td><td>' . (isset($eventClassDetail->event_class_description) ? $eventClassDetail->event_class_description : '') . '</td></tr>';
        echo "<tr><td><b>Tipologia</b></td><td>" . $eventClassTypeEnum[$eventClassDetail->event_class_type] . "</td></tr>";
        echo '<tr><td><b>Intervallo di verifica</b></td><td>' . $eventClassDetail->event_class_check_interval . ' min.</td></tr>';
        if ($eventClassDetail->event_class_period_type === 'days') {
            echo '<tr><td><b>Periodo</b></td><td>Ogni ' . $eventClassDetail->event_class_period_days . ' giorno/i';
        } else if ($eventClassDetail->event_class_period_type === 'dates') {
            echo '<tr><td><b>Periodo</b></td><td>Dal ' . $this->formatDateTime($eventClassDetail->event_class_period_date_start) . '<br>al ' . $this->formatDateTime($eventClassDetail->event_class_period_date_end) . '</td></tr>';
        } else {
            echo '<tr><td><b>Periodo</b></td><td>ERROR</td></tr>';
        }

        if ($eventClassDetail->event_class_type==='structured') {
            echo '<tr><td><b>Tipo di confronto</b></td><td>' . $eventClassComparisionTypeEnum[$eventClassDetail->event_class_structured_comparision_type] . ' </td></tr>';
            echo '<tr><td><b>Valore di riferimento</b></td><td>' . $eventClassDetail->event_class_int_reference_value . ' </td></tr>';
            echo '<tr><td><b>Grandezza da confrontare</b></td><td>' . $eventClassValueTypeEnum[$eventClassDetail->event_class_structured_value_type] . ' </td></tr>';
            echo '<tr><td><b>Numero di volte in cui si è verificato</b></td><td>' . $eventClassDetail->event_class_delta_counter . ' </td></tr>';
            if (count($storesNames) > 0) {
                echo '<tr><td><b>Negozi selezionati</b></td><td>';
                foreach ($storesNames as $storesNamesEl) {
                    echo $storesNamesEl . '<br>';
                }
            }
        }
        else if ($eventClassDetail->event_class_type==='compared_query') {
            echo '<tr><td><b>Query</b></td><td>' . $eventClassDetail->event_class_query . ' </td></tr>';
            echo '<tr><td><b>Tipo di confronto</b></td><td>' . $eventClassComparisionTypeEnum[$eventClassDetail->event_class_compared_query_comparision_type] . ' </td></tr>';
            if ($eventClassDetail->event_class_compared_query_comparision_type==='string_contained') {
                echo '<tr><td><b>Stringa da trovare</b></td><td>' . $eventClassComparisionTypeEnum[$eventClassDetail->event_class_compared_query_string_reference_value] . ' </td></tr>';
            }
            else {
                echo '<tr><td><b>Valore di riferimento</b></td><td>' . $eventClassDetail->event_class_int_reference_value . ' </td></tr>';
            }
            echo '<tr><td><b>Numero di volte in cui si è verificato</b></td><td>' . $eventClassDetail->event_class_delta_counter . ' </td></tr>';

        }
        else if ($eventClassDetail->event_class_type==='raw_query') {
            echo '<tr><td><b>Query</b></td><td>' . $eventClassDetail->event_class_query . ' </td></tr>';
            echo '<tr><td><b>Ultimo risultato query</b></td><td>' . (isset($eventClassDetail->event_class_last_query_result) ? $eventClassDetail->event_class_last_query_result : 'Assente') . '</td></tr>';
        }

        echo '<tr><td><b>Raggiunto</b></td><td>' . (isset($eventClassDetail->event_class_target_reached) ? $booleanEnum[$eventClassDetail->event_class_target_reached] : $booleanEnum[false]) . '</td></tr>';
        echo '<tr><td><b>Inizio sotto periodo corrente</b></td><td>' . (isset($eventClassDetail->event_class_last_period_current_start) ? $this->formatDateTime($eventClassDetail->event_class_last_period_current_start) : $this->formatDateTime(null)) . '</td></tr>';
        echo '<tr><td><b>Ultima verifica</b></td><td>' . (isset($eventClassDetail->event_class_last_check) ? $this->formatDateTime($eventClassDetail->event_class_last_check,'datetime') : $this->formatDateTime(null)) . '</td></tr>';
        echo '<tr><td><b>Attivo</b></td><td>' . (isset($eventClassDetail->event_class_active) ? $booleanEnum[$eventClassDetail->event_class_active] : $booleanEnum[false]) . '</td></tr>';
        echo '<tr><td><b>Eliminato</b></td><td>' . (isset($eventClassDetail->event_class_deleted) ? $booleanEnum[$eventClassDetail->event_class_deleted] : $booleanEnum[false]) . '</td></tr>';


        //echo "<tr><td><b></b></td><td><a href=\"".$this->url('events',array('action'=>'event-edit','event_class_id'=>$eventClassDetail->event_class_id))."\">Modifica</a></td></tr>";


        echo "</tr>";

        echo "</table>";


        ?>
    </div>
</div>
