<?php
$eventClassTypeEnum=array(
    'structured'=> 'Strutturato',
    'compared_query'=>'Query comparata',
    'raw_query'=>'Query grezza'
);
$booleanEnum=array(
    true=>'Si',
    false=>'No'
);

?>
<div class="row-fluid">
    <div class="span12">
        <div class="page-header">
        <h1>Eventi</h1>
        </div>

        <?php
        if ($messages) {
            echo '<div class="alert alert-success">'.$messages[0].'</div>';
        }
        if (($this->getRole()==='admin')||($this->getRole()==='developer')) {
            echo "<a href=\"".$this->url('events',array('action'=>'event-class-add'))."\"><button type=\"button\" class=\"btn btn-success\">Crea Nuovo</button></a> ";
            echo "<a href=\"".$this->url('events',array('action'=>'event-class-reset'))."\"><button type=\"button\" class=\"btn btn-warning event-class-reset\">Reset Eventi</button></a><br><br>";
        }
        if (count($events)==0){
            echo "<p>Nessun evento presente</p>";
        }
        else {
            echo "<table class=\"table table-striped table-condensed\" style=\"text-align:left\"><tr><th style=\"width: 50px;\">Id</th><th style=\"width: 50px\">Nome</th><th style=\"width: 100px\">Descrizione</th><th style=\"width: 50px\">Tipologia</th><th style=\"width: 50px\">Intervallo di polling</th><th style=\"width: 50px\">Periodo</th><th style=\"width: 10px\">Verificato</th><th style=\"width: 50px\">Data inizio ultimo intervallo</th><th style=\"width: 50px\">Ultimo check</th><th style=\"width: 50px\">Attivo</th><th style=\"width: 180px\"></th></tr>";

            foreach ($events as $eventsElement){
                echo "<tr>";
                echo '<td>'.$eventsElement->event_class_id.'</td>';
                echo '<td>'.$eventsElement->event_class_name.'</td>';
                echo '<td>'.(isset($eventsElement->event_class_description)?$eventsElement->event_class_description:'').'</td>';
                echo "<td>".$eventClassTypeEnum[$eventsElement->event_class_type]."</td>";
                echo '<td>'.$eventsElement->event_class_check_interval.' min.</td>';
                if ($eventsElement->event_class_period_type==='days') {
                    echo '<td>Ogni '.$eventsElement->event_class_period_days.' giorno/i';
                }
                else if ($eventsElement->event_class_period_type==='dates') {
                    echo '<td>Dal '.$this->formatDateTime($eventsElement->event_class_period_date_start).'<br>al '.$this->formatDateTime($eventsElement->event_class_period_date_end).'</td>';
                }
                else {
                    echo '<td>ERROR</td>';
                }
                echo '<td>'.(isset($eventsElement->event_class_target_reached)?$booleanEnum[$eventsElement->event_class_target_reached]:$booleanEnum[false]).'</td>';
                echo '<td>'.(isset($eventsElement->event_class_last_period_current_start)?$this->formatDateTime($eventsElement->event_class_last_period_current_start):$this->formatDateTime(null)).'</td>';
                echo '<td>'.(isset($eventsElement->event_class_last_check)?$this->formatDateTime($eventsElement->event_class_last_check):$this->formatDateTime(null)).'</td>';

                echo '<td>'.(isset($eventsElement->event_class_active)?$booleanEnum[$eventsElement->event_class_active]:$booleanEnum[false]).'</td>';
                //echo "<td><a href=\"".$this->url('events',array('action'=>'event-edit','event_class_id'=>$eventsElement->event_class_id))."\">Modifica</a></td>";

                //*** INIZIO MENU ****

                ?>
                <td>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="width: 10px; display: block; position: static;">
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Operazioni</a>
                        <ul class="dropdown-menu">
                        <?php
                        echo "<li><a href=\"".$this->url('events/wildcard',array('action'=>'event-class-detail','event_class_id'=>$eventsElement->event_class_id))."\">Dettaglio evento</a></li>";
                        echo "<li><a href=\"".$this->url('messages/wildcard',array('action'=>'message-class-list','event_class_id'=>$eventsElement->event_class_id))."\">Gestione messaggi</a></li>";
                        if (($this->getRole()==='admin')||($this->getRole()==='developer')) {
                            echo "<li><a href=\"".$this->url('events',array('action'=>'event-archive-list','event_class_id'=>$eventsElement->event_class_id))."\">Visualizza storico</a></li>";
                            echo "<li class=event-class-del><a href=\"".$this->url('events/wildcard',array('action'=>'event-class-del','event_class_id'=>$eventsElement->event_class_id))."\">Elimina evento</a></li>";
                        }
?>
                    </ul>
                    </li>

                </ul>
                    </td>
                <?php

                //*** FINE MENU *****
                echo "</tr>";
            }
            echo "</table>";

        }
        ?>
    </div>
</div>
<script>

        $('.event-class-del').click(function() {
            var r=confirm("Sei sicuro di eliminare l'evento?");
            if (r==false) {
                event.preventDefault();
            }
        })

        $('.event-class-reset').click(function() {
            var r=confirm("Sei sicuro di resettare gli eventi?");
            if (r==false) {
                event.preventDefault();
            }
        })

</script>