<div class="row">
    <div class="span12">
        <h1>Genera exchange array</h1>

        <?php
        foreach ($colonneCamelCase as $colonna ) {
            echo 'public $'.$colonna.';<br>';
        }
        echo '<br><br>';
        echo 'public function exchangeArray($data) {<br>';
        foreach ($colonneCamelCase as $colonna ){
            echo '$this->'.$colonna.'=(isset($data[\''.$colonna.'\']))?$data[\''.$colonna.'\']:null;<br>';
        }
        echo '}';
        echo '<br><br>';

        foreach ($colonneUnderscore as $colonna ) {
            echo '<xmp>echo \'<td>\'.$'.$varName.'->'.$colonna.'.\'</td>\';</xmp>';
        }
        echo '<br><br>';

        echo'<hr><h3>Controller specifico</h3>';
        for ($i=0;$i<count($tabelleCamelCase);$i++) {
            echo 'use Application\Model\\'.$tabelleCamelCase[$i].';<br>';
        }
        echo '<br><br>';

        //codice per il service manager per le db table
        echo '<hr><h3>Module.php</h3>';
        for ($i=0;$i<count($tabelleCamelCase);$i++) {
            echo 'use Application\Model\\'.$tabelleCamelCase[$i].';<br>';
            echo 'use Application\Model\DbTable\\'.$tabelleCamelCase[$i].'Table;<br>';
        }
        echo '<br><br>';

        for ($i=0;$i<count($tabelleCamelCase);$i++) {
                echo '\'Application\Model\DbTable\\'.$tabelleCamelCase[$i].'Table\'=>function($sm){<br>';
                echo '$tableGateway=$sm->get(\''.$tabelleCamelCase[$i].'TableGateway\');<br>';
                echo '$table=new '.$tabelleCamelCase[$i].'Table($tableGateway);<br>';
                echo 'return $table;<br>';
                echo '},<br>';
                echo '\''.$tabelleCamelCase[$i].'TableGateway\'=>function($sm){<br>';
                echo '$dbAdapter=$sm->get(\'Zend\Db\Adapter\Adapter\');<br>';
                echo '$resultSetPrototype=new ResultSet();<br>';
                echo '$resultSetPrototype->setArrayObjectPrototype(new '.$tabelleCamelCase[$i].'());<br>';
                echo 'return new TableGateway(\''.$tabelleUnderscore[$i].'\',$dbAdapter,null,$resultSetPrototype);<br>';
                echo '},<br>';
        }
        echo '<br><br>';
        echo '<hr><h3>Java</h3>';
        for ($i=0;$i<count($colonneRealmenteCamelCase);$i++) {
            echo 'String '.$colonneRealmenteCamelCase[$i].' = mysqlDbResults.getString("'.$colonneUnderscore[$i].'");<br>';
        }




        ?>
    </div>
</div>