<div class="row">
    <div class="span8">
        <?php
        if ($messages) {
            echo '<div class="alert alert-error">'.$messages[0].'</div>';
        }
        ?>


        <img src="<?php echo $this->basePath() . '/img/homepage-img.jpg' ?>" style="width: 90%"><br>
    </div>
</div>