<div class="row-fluid">

    <div class="span12">

        <div class="page-header">
        <h1>DModa Mobile Server</h1>
        </div>


            <?php
            if ($messages) {
                echo '<div class="alert alert-success">'.$messages[0].'</div>';
            }
            ?>


        Inserire le credenziali

        <div class=form>

            <?php
            $form->prepare();
            $form->setAttribute('action',$this->url('home',array('action'=>'index')));
            echo $this->form()->openTag($form);
            echo $this->formCollection($form);
            echo $this->form()->closeTag ($form);
            ?>
        </div>
    </div>
</div>