<div class="row">
    <div class="span12">
        <div class="page-header">
        <h1>Modifica Messaggio</h1>
        </div>
        <div class=form>

            <?php

            $form->prepare();
            $form->setAttribute('action',$this->url('messages/wildcard',array('action'=>'message-class-edit','message_class_id'=>$messageClassId,'event_class_id'=>$eventClassId)));
            echo $this->form()->openTag($form);
            echo $this->formCollection($form);
            /*
            echo $this->formRow($form->get('username'));
            echo $this->formRow($form->get('password1'));
            echo $this->formRow($form->get('password2'));
            echo $this->formSubmit($form->get('submit'));*/
            echo $this->form()->closeTag ($form);
            ?>
        </div>

        <!--********** table of variables *********** -->
        <br><br>
        <h4>Variabili impostabili</h4>
        <table class="table table-bordered" style="width: auto;">
            <tr><th>Descrizione</th><th>Codice da inserire nel testo</th></tr>
            <tr><td>Somma dei ricavi</td><td>%somma-ricavi%</td></tr>
            <tr><td>Unit&agrave; vendute in totale</td><td>%unita-totale%</td></tr>
            <tr><td>Unit&agrave; vendute per ogni categoria merceologica</td><td>%unita-categorie%</td></tr>
            <tr><td>Quantit&agrave; scontrini emessi</td><td>%scontrini-emessi%</td></tr>
            <tr><td>Margine totale</td><td>%margine-totale%</td></tr>
            <tr><td>Codici dei prodotti venduti</td><td>%codici-prodotti%</td></tr>

        </table>

        <!--********** end table of variables *********** -->

    </div>
</div>