<style>
    select {
        margin-top: 24px;
        width: auto;
        /*vertical-align: middle;*/
        display: inline-block;
    }
    form {
        margin: 0px;
    }
    select{
        margin-top: 5px;
    }
    th {
        height: 40px;
    }
</style>
<div class="row-fluid">
    <div class="span12">

        <div class="page-header">
        <h1>Messaggi Sottoscrivibili</h1>
        </div>

        <?php
        if ($flashMessages) {
            echo '<div class="alert alert-success">'.$flashMessages[0].'</div>';
        }

//**************** EVENT DETAILS ************
        if (isset($eventClass)) {
            echo '<div class="well">';
            echo '<h4>Evento</h4>';
            $eventClass=$eventClass->current();
            echo $eventClass->event_class_name;
            echo '<br>'.$eventClass->event_class_description;
            echo '</div>';
        }
//**************** END Event Details ********

        if ((($this->getRole()==='admin')||($this->getRole()==='developer'))&& isset($eventClass)) {
            echo "<a href=\"".$this->url('messages/wildcard',array('action'=>'message-class-add','event_class_id'=>$eventClass->event_class_id))."\"><button type=\"button\" class=\"btn btn-success\">Crea Nuovo</button></a><br><br>";
        }
        echo '<hr>';
        if (count($messages)==0){
            echo "<p>Nessun messaggio presente</p>";
        }
        else {
            echo "<table class=\"table\"><tr><th>Id</th><th style=\"width: 300px\">Testo</th><th>Notifica (tempo minimo da far trascorrere)</th><th></th></tr>";
            $i=0;
            foreach ($messages as $messagesElement){
                 echo '<tr>';

                echo '<td>'.$messagesElement->message_class_id.'</td>';
                echo '<td>'.$messagesElement->message_class_content.'</td>';

                echo '<td>';
                $formList[$i]->prepare();
                echo $this->form()->openTag($formList[$i]);
                echo $this->formRow ($formList[$i]->get('message_class_id'));
                echo $this->formRow ($formList[$i]->get('user_has_message_class_interval'));
                echo "<img class=ajax-status src=\"";
                if ($formList[$i]->get('user_has_message_class_interval')->getValue()==='999') {
                    echo $this->basePath() .'/img/status-disabled.png';
                }
                else {
                    echo $this->basePath() .'/img/status-enabled.png';
                }

                echo "\">";
                echo $this->form()->closeTag ($formList[$i]);

                //<a href=\''.$this->url('users/wildcard',array('action'=>'user-add-message-class','message_class_id'=>$messagesElement->message_class_id)).'\'>Iscriviti</a>
                echo '</td><td>';
                if ($role!=='regular') {
                    echo '<a href="'.$this->url('messages/wildcard',array('action'=>'message-class-edit','event_class_id'=>$messagesElement->event_class_id,'message_class_id'=>$messagesElement->message_class_id)).'"><button type="button" class="btn btn-warning">Modifica</button></a>';
                    echo ' <a href="'.$this->url('messages/wildcard',array('action'=>'message-class-del','event_class_id'=>$messagesElement->event_class_id,'message_class_id'=>$messagesElement->message_class_id)).'"><button type="button" class="btn btn-danger message-class-del">Elimina</button></a>';
                }
                echo "</td></tr>";
                $i++;
            }
            echo "</table>";



        }
        ?>
    </div>
</div>
<script>
    $('[name*=form]').change(function(){
        var message_class_id=$(this).children('[name*=message_class_id]').val();
        var user_has_message_class_interval=$(this).children("select").children("option:selected").val()
        var ajaxStatus=$(this).children('.ajax-status');
        ajaxStatus.attr("src","<?php echo ($this->basePath() . '/img/status-progress.gif'); ?>");
        $.ajax({
            url: <?php echo '\''.$this->url('users',array('action'=>'user-add-message-class-ajax')).'\'' ?>,
            type: 'POST',
            data: {
                message_class_id: message_class_id,
                user_has_message_class_interval: user_has_message_class_interval
            },
            datatype: 'json',
            success: function (data) {
                data=$.parseJSON(data);
                if (data['status']==='ok') {
                    if (user_has_message_class_interval==999) {
                        ajaxStatus.attr("src","<?php echo ($this->basePath() . '/img/status-disabled.png'); ?>");
                    }
                    else {
                        ajaxStatus.attr("src","<?php echo ($this->basePath() . '/img/status-enabled.png'); ?>");
                    }
                }
                else {
                    alert ('problema'+data['status']);
                }
            }
        });
    });

    $('.message-class-del').click(function() {
        var r=confirm("Sei sicuro di eliminare il messaggio?");
        if (r==false) {
            event.preventDefault();
        }
    })

</script>
