<?php
$eventClassTypeEnum=array(
    'structured'=> 'Strutturato',
    'compared_query'=>'Query comparata',
    'raw_query'=>'Query grezza'
);
$booleanEnum=array(
    true=>'Si',
    false=>'No'
);

?>
<div class="row-fluid">
    <div class="span12">
        <div class="page-header">
        <h1>Archivio messaggi personali</h1>
        </div>

        <?php
        if (isset($messages)) {
            echo '<div class="alert alert-success">'.$messages[0].'</div>';
        }
        
        if (count($archiveMessages)==0){
            echo "<p>Nessun messagio presente</p>";
        }
        else {
            echo "<table id=message-archive-list class=\"table\"><tr><th>Id</th><th>Testo</th><th>Ricezione</th><th  style=\"text-align:center\">Elimina</th><th style=\"width: 50px\"></th></tr>";

            foreach ($archiveMessages as $archiveMessagesElement){
                echo "<tr class=message-archive-element id=".$archiveMessagesElement['message_archive_id'].">";

                echo '<td>'.$archiveMessagesElement['message_archive_id'].'</td>';
                echo '<td>'.$archiveMessagesElement['message_archive_content'].'</td>';
                echo "<td>".$this->formatDateTime($archiveMessagesElement['message_archive_datetime_sent'],'datetime')."</td>";
                echo "<td style=\"text-align:center\"><a href=\"\"><img style=\"height:20px\" src=".$this->basePath()."/img/trash.png></a></td>";
                echo "<td class=ajax-status></td>";

                echo "</tr>";
            }
            echo "</table>";

        }
        ?>
    </div>
</div>
<script>
    var message_archive_count;
    $().ready(function (){
        message_archive_count=$('.message-archive-element').length;
    });
    $('td a').click(function() {
        var riga=$(this).closest('tr');
        var message_archive_id=riga.attr('id');
        var ajaxStatus=riga.children(".ajax-status"); //giusta
        ajaxStatus.html('<img style=\"height:20px\" src=<?php echo ($this->basePath() . '/img/status-progress.gif');?>>');
        $.ajax({
            url: <?php echo '\''.$this->url('messages',array('action'=>'message-archive-delete-ajax')).'\'' ?>,
            type: 'POST',
            data: {
                message_archive_id:message_archive_id
            },
            datatype: 'json',
            success: function (data) {
                data=$.parseJSON(data);
                if (data['status']==='ok') {
                    message_archive_count--;
                    if (message_archive_count==0) {
                        location.reload();
                    }
                    else {
                        riga.fadeOut('slow');
                    }
                }
                else {
                    alert ('problema'+data['status']);
                }
            }
        });
        return false;

    });

</script>