<?php
$eventClassTypeEnum=array(
    'structured'=> 'Strutturato',
    'compared_query'=>'Query comparata',
    'raw_query'=>'Query grezza'
);
$booleanEnum=array(
    true=>'Si',
    false=>'No'
);

?>
<div class="row-fluid">
    <div class="span12">
        <div class="page-header">
        <h1>Spool messaggi in attesa di consegna</h1>
        </div>

        <?php
        if (isset($messages)) {
            echo '<div class="alert alert-success">'.$messages[0].'</div>';
        }
        
        if (count($archiveMessages)==0){
            echo "<p>Nessun messagio presente</p>";
        }
        else {
            echo "<table id=message-archive-list class=\"table\"><tr><th>Id</th><th>Testo</th><th>Consegna programmata</th><th>Utente</th><th>Push inviato</th></tr>";

            foreach ($archiveMessages as $archiveMessagesElement){
                echo "<tr class=message-archive-element id=".$archiveMessagesElement['message_spool_id'].">";
                echo '<td>'.$archiveMessagesElement['message_spool_id'].'</td>';
                echo '<td>'.$archiveMessagesElement['message_spool_content'].'</td>';
                echo "<td>".$this->formatDateTime($archiveMessagesElement['message_spool_programmed_delivery'],'datetime')."</td>";
                echo "<td><a style=\"text-decoration:underline\" href=\"".$this->url('users/wildcard',array('action'=>'user-detail','user_id'=>$archiveMessagesElement['user_id']))."\" target=\"_blank\">".$archiveMessagesElement['user_username']."</a></td>";
                echo '<td>'.(isset($archiveMessagesElement['message_spool_push_sent'])?$booleanEnum[$archiveMessagesElement['message_spool_push_sent']]:$booleanEnum[false]).'</td>';
                echo "</tr>";
            }
            echo "</table>";

        }
        ?>
    </div>
</div>
<script>
    var message_archive_count;
    $().ready(function (){
        message_archive_count=$('.message-archive-element').length;
    });
</script>