<div class="row">
    <div class="span8">
        <div class="page-header">
            <h1>Dettaglio Utente</h1>
        </div>

        <?php
        echo "<table class=\"table\" style=\"width:600px;\">";
        echo '<tr><td style="width: 200px"><b>Id</b></td><td>' . $userDetail->user_id . '</td></tr>';
        echo '<tr><td><b>Username</b></td><td>' . $userDetail->user_username . '</td></tr>';
        echo '<tr><td><b>Descrizione</b></td><td>' . (isset($userDetail->user_description) ? $userDetail->user_description : '') . '</td></tr>';
        echo '<tr><td><b>Tipologia Account</b></td><td>' . $userDetail->user_type . '</td></tr>';
        echo "<tr><td><b>Tipologia Smartphone</b></td><td>" . $userDetail->user_smartphone_type . "</td></tr>";
        echo "<tr><td><b>Push token</b></td><td>" . $userDetail->user_smartphone_token . "</td></tr>";
        echo "<tr><td><b>Rest token</b></td><td>" . $userDetail->user_rest_token . "</td></tr>";

        echo "</tr>";

        echo "</table>";
        echo "<a href=\"".$this->url('users/wildcard',array('action'=>'user-edit-super','user_id'=>$userDetail->user_id))."\"><button type=\"button\" class=\"btn btn-warning\">Modifica</button></a>";
        echo " <a href=\"".$this->url('users/wildcard',array('action'=>'user-del','user_id'=>$userDetail->user_id))."\"><button type=\"button\" id =\"user-del\" class=\"btn btn-danger\">Elimina</button></a>";


        ?>
    </div>
</div>
<script>

    $('#user-del').click(function() {
        var r=confirm("Sei sicuro di eliminare l'utente?");
        if (r==false) {
            event.preventDefault();
        }
    })

</script>