<div class="row">
    <div class="span12">

        <div class="page-header">
        <h1>Aggiungi utente</h1>
        </div>

        <div class=form>

            <?php

            $form->prepare();
            $form->setAttribute('action',$this->url('users',array('action'=>'user-add')));
            echo $this->form()->openTag($form);
            echo $this->formCollection($form);
            echo $this->form()->closeTag ($form);
            ?>
        </div>
    </div>
</div>

<?php
/*
echo $this->formRow($form->get('username'));
echo $this->formRow($form->get('password1'));
echo $this->formRow($form->get('password2'));
echo $this->formSubmit($form->get('submit'));*/
?>