<div class="row">
    <div class="span8">

        <div class="page-header">
        <h1>Utenti</h1>
        </div>

        <?php
        if ($messages) {
            echo '<div class="alert alert-success">'.$messages[0].'</div>';
        }
        echo "<a href=\"".$this->url('users',array('action'=>'user-add'))."\"><button type=\"button\" class=\"btn btn-success\">Crea Nuovo</button></a><br><br>";
        if (count($users)==0){
            echo "<p>Nessun utente presente</p>";
        }
        else {
            echo "<table class=\"table\"><tr><th>Id</th><th>Nome utente</th><th>Tipo utenza</th><th>Descrizione</th><th>Tipo Smartphone</th><th></th></tr>";

            foreach ($users as $usersElement){
                echo "<tr>";
                echo "<td>".$usersElement->user_id."</td>";
                echo "<td>".$usersElement->user_username."</td>";
                echo "<td>".$usersElement->user_type."</td>";
                echo "<td>".$usersElement->user_description."</td>";
                echo "<td align=center><img src=\"".$this->basePath()."/img/".$usersElement->user_smartphone_type.".png\" style=\"height:20px\"></td>";
                echo "<td>";
                echo "<a href=\"".$this->url('users/wildcard',array('action'=>'user-edit-super','user_id'=>$usersElement->user_id))."\"><button type=\"button\" class=\"btn btn-warning\">Modifica</button></a>";
                echo " <a href=\"".$this->url('users/wildcard',array('action'=>'user-del','user_id'=>$usersElement->user_id))."\"><button type=\"button\" class=\"btn btn-danger user-del\">Elimina</button></a>";

                echo "</td>";

                echo "</tr>";


            }
            echo "</table>";

        }
        ?>
        <ul>
            </li>
        </ul>
    </div>
</div>
<script>

    $('.user-del').click(function() {
        var r=confirm("Sei sicuro di eliminare l'utente?");
        if (r==false) {
            event.preventDefault();
        }
    })

</script>