<div class="row">
    <div class="span12">

        <div class="page-header">
        <h1>Modifica utente</h1>
        </div>

        <div class=form>


        <?php

        $form->prepare();
        echo $this->form()->openTag($form);
        echo $this->formCollection($form);
        echo $this->form()->closeTag ($form);
?>
        </div>
    </div>
</div>
